* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(120deg, #43cea2, #185a9d);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card, .result-card {
    background: white;
    width: 430px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

.subtitle {
    text-align: center;
    color: #666;
    margin-bottom: 25px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}

input:focus {
    border-color: #43cea2;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(120deg, #43cea2, #185a9d);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.03);
}

.result-card h2 {
    margin: 25px 0;
    text-align: center;
    color: #185a9d;
}

a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #185a9d;
    font-weight: bold;
}
